body{
    background: url(./teste.png) ;
}

.area{
    border: solid black 1px;
    border-radius: 12px;
    width: 600px;
    height: 800px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;    
    background-color: rgba(178, 180, 180, 0.616);
    margin-top: 6rem;
}

